<template>
  
      <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn :to="{ name: 'home' }" flat >home</v-btn>
          <v-btn  :to="{ name: 'images' }" flat >Images </v-btn>
          <v-btn v-if="!loggedIn" :to="{ name: 'login' }" flat >Login </v-btn>
          <v-btn v-if="!loggedIn":to="{ name: 'register' }" flat>Register</v-btn>
          <v-btn v-if="loggedIn" :to="{ name: 'logout' }" flat>Logout</v-btn>
        </v-toolbar-items>
      </v-toolbar-title>

    <v-spacer></v-spacer>
    </v-toolbar>

</template>

<script type="text/javascript">
   export default {

  data () {
    return {
      //
    }
  },
  computed: {
      loggedIn() {
        return this.$store.getters.loggedIn
      }
    }
}
</script>